
body {
  font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.search-form {
    margin-top: 36px;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    font-size: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px 8px ;
}


.search-input:active {
    border: 1px solid #4E75FF;
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4E75FF;
  font-family: 'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #6C8CFF;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.iziToast-container {
  height: auto !important;
}

#loader {
  display: none;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#load-more {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4E75FF;
  font-family: 'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer;
}

#load-more:hover {
    background-color: #6C8CFF;
}
